<div class="menu-bar">
  <!-- File Menu -->
  <button class="menubar-item"
          type="button"
          [matMenuTriggerFor]="fileMenu"
          #fileMenuTrigger="matMenuTrigger">
    File
  </button>
  <mat-menu #fileMenu="matMenu" class="viewer-menu" yPosition="below" xPosition="after">
    <ng-container *ngFor="let item of menuService.getFileMenu()">
      <button *ngIf="!item.separator && !hasSubmenu(item)"
              mat-menu-item
              [disabled]="item.disabled || false"
              (click)="executeMenuItem(item)"
              class="menu-item">
        <mat-icon *ngIf="item.icon" class="menu-item__icon">{{ item.icon }}</mat-icon>
        <span class="menu-item__label">{{ item.label }}</span>
        <span *ngIf="item.shortcut" class="menu-item__shortcut">{{ item.shortcut }}</span>
      </button>
      <mat-divider *ngIf="item.separator"></mat-divider>
    </ng-container>
  </mat-menu>

  <!-- Edit Menu -->
  <button class="menubar-item"
          type="button"
          [matMenuTriggerFor]="editMenu"
          #editMenuTrigger="matMenuTrigger">
    Edit
  </button>
  <mat-menu #editMenu="matMenu" class="viewer-menu" yPosition="below" xPosition="after">
    <ng-container *ngFor="let item of menuService.getEditMenu()">
      <button *ngIf="!item.separator"
              mat-menu-item
              [disabled]="item.disabled || false"
              (click)="executeMenuItem(item)"
              class="menu-item">
        <mat-icon *ngIf="item.icon" class="menu-item__icon">{{ item.icon }}</mat-icon>
        <span class="menu-item__label">{{ item.label }}</span>
        <span *ngIf="item.shortcut" class="menu-item__shortcut">{{ item.shortcut }}</span>
      </button>
      <mat-divider *ngIf="item.separator"></mat-divider>
    </ng-container>
  </mat-menu>

  <!-- View Menu -->
  <button class="menubar-item"
          type="button"
          [matMenuTriggerFor]="viewMenu"
          #viewMenuTrigger="matMenuTrigger">
    View
  </button>
  <mat-menu #viewMenu="matMenu" class="viewer-menu" yPosition="below" xPosition="after">
    <ng-container *ngFor="let item of menuService.getViewMenu(); let i = index; trackBy: trackByLabel">
      <!-- Regular menu item with no submenu -->
      <button *ngIf="!item.separator && !hasSubmenu(item)"
              mat-menu-item
              [disabled]="item.disabled || false"
              (click)="executeMenuItem(item)"
              class="menu-item">
        <mat-icon *ngIf="item.icon" class="menu-item__icon">{{ item.icon }}</mat-icon>
        <span class="menu-item__label">{{ item.label }}</span>
        <span *ngIf="item.shortcut" class="menu-item__shortcut">{{ item.shortcut }}</span>
      </button>

      <!-- Menu item with submenu -->
      <ng-container *ngIf="!item.separator && hasSubmenu(item)">
        <button mat-menu-item
                [matMenuTriggerFor]="viewSubmenuDynamic"
                [disabled]="item.disabled || false"
                (mouseenter)="setCurrentSubmenu(item)"
                (click)="setCurrentSubmenu(item)"
                class="menu-item">
          <mat-icon *ngIf="item.icon" class="menu-item__icon">{{ item.icon }}</mat-icon>
          <span class="menu-item__label">{{ item.label }}</span>
          <mat-icon class="menu-item__arrow">chevron_right</mat-icon>
        </button>
      </ng-container>

      <mat-divider *ngIf="item.separator"></mat-divider>
    </ng-container>
  </mat-menu>

  <!-- Dynamic submenu for View menu -->
  <mat-menu #viewSubmenuDynamic="matMenu" class="viewer-menu" yPosition="below" xPosition="after">
    <ng-container *ngIf="currentSubmenuItems">
      <ng-container *ngFor="let subitem of currentSubmenuItems">
        <button *ngIf="!subitem.separator"
                mat-menu-item
                [disabled]="subitem.disabled || false"
                (click)="executeMenuItem(subitem)"
                class="menu-item">
          <mat-icon *ngIf="subitem.icon" class="menu-item__icon">{{ subitem.icon }}</mat-icon>
          <span class="menu-item__label">{{ subitem.label }}</span>
          <span *ngIf="subitem.shortcut" class="menu-item__shortcut">{{ subitem.shortcut }}</span>
        </button>
        <mat-divider *ngIf="subitem.separator"></mat-divider>
      </ng-container>
    </ng-container>
  </mat-menu>

  <!-- Tools Menu -->
  <button class="menubar-item"
          type="button"
          [matMenuTriggerFor]="toolsMenu"
          #toolsMenuTrigger="matMenuTrigger">
    Tools
  </button>
  <mat-menu #toolsMenu="matMenu" class="viewer-menu" yPosition="below" xPosition="after">
    <ng-container *ngFor="let item of menuService.getToolsMenu(); let i = index; trackBy: trackByLabel">
      <!-- Regular menu item with no submenu -->
      <button *ngIf="!item.separator && !hasSubmenu(item)"
              mat-menu-item
              [disabled]="item.disabled || false"
              (click)="executeMenuItem(item)"
              class="menu-item">
        <mat-icon *ngIf="item.icon" class="menu-item__icon">{{ item.icon }}</mat-icon>
        <span class="menu-item__label">{{ item.label }}</span>
        <span *ngIf="item.shortcut" class="menu-item__shortcut">{{ item.shortcut }}</span>
      </button>

      <!-- Menu item with submenu -->
      <ng-container *ngIf="!item.separator && hasSubmenu(item)">
        <button mat-menu-item
                [matMenuTriggerFor]="toolsSubmenuDynamic"
                [disabled]="item.disabled || false"
                (mouseenter)="setCurrentSubmenu(item)"
                (click)="setCurrentSubmenu(item)"
                class="menu-item">
          <mat-icon *ngIf="item.icon" class="menu-item__icon">{{ item.icon }}</mat-icon>
          <span class="menu-item__label">{{ item.label }}</span>
          <mat-icon class="menu-item__arrow">chevron_right</mat-icon>
        </button>
      </ng-container>

      <mat-divider *ngIf="item.separator"></mat-divider>
    </ng-container>
  </mat-menu>

  <!-- Dynamic submenu for Tools menu -->
  <mat-menu #toolsSubmenuDynamic="matMenu" class="viewer-menu" yPosition="below" xPosition="after">
    <ng-container *ngIf="currentSubmenuItems">
      <ng-container *ngFor="let subitem of currentSubmenuItems">
        <button *ngIf="!subitem.separator"
                mat-menu-item
                [disabled]="subitem.disabled || false"
                (click)="executeMenuItem(subitem)"
                class="menu-item">
          <mat-icon *ngIf="subitem.icon" class="menu-item__icon">{{ subitem.icon }}</mat-icon>
          <span class="menu-item__label">{{ subitem.label }}</span>
          <span *ngIf="subitem.shortcut" class="menu-item__shortcut">{{ subitem.shortcut }}</span>
        </button>
        <mat-divider *ngIf="subitem.separator"></mat-divider>
      </ng-container>
    </ng-container>
  </mat-menu>

  <!-- Help Menu -->
  <button class="menubar-item"
          type="button"
          [matMenuTriggerFor]="helpMenu"
          #helpMenuTrigger="matMenuTrigger">
    Help
  </button>
  <mat-menu #helpMenu="matMenu" class="viewer-menu" yPosition="below" xPosition="after">
    <ng-container *ngFor="let item of menuService.getHelpMenu()">
      <button *ngIf="!item.separator"
              mat-menu-item
              [disabled]="item.disabled || false"
              (click)="executeMenuItem(item)"
              class="menu-item">
        <mat-icon *ngIf="item.icon" class="menu-item__icon">{{ item.icon }}</mat-icon>
        <span class="menu-item__label">{{ item.label }}</span>
        <span *ngIf="item.shortcut" class="menu-item__shortcut">{{ item.shortcut }}</span>
      </button>
      <mat-divider *ngIf="item.separator"></mat-divider>
    </ng-container>
  </mat-menu>
</div>
